/* You can add global styles to this file, and also import other style files */

:root {
  --primary: #1D4E4D;
  --secondary: #0099A2;
  --tertiary: #54BCCE;
  --quaternary: #F1F8F0;

  --white: #FFFFFF;
  --black: #000000;

  --success: #30CB83;
  --danger: #E74C3C;
  --warning: #F1C40F;
  --info: #54A0FF;
}

