<p-button color="primary" > Click Here</p-button>
<p-button color="secondary" > Click Here</p-button>
<p-button color="tertiary" > Click Here</p-button>
<p-button color="quaternary" > Click Here</p-button>

<p-button color="primary-outline" > Click Here</p-button>
<p-button color="secondary-outline" > Click Here</p-button>
<p-button color="tertiary-outline" > Click Here</p-button>
<p-button color="quaternary-outline" > Click Here</p-button>

<p-button color="success" > Click Here</p-button>
<p-button color="danger" > Click Here</p-button>
<p-button color="warning" > Click Here</p-button>
<p-button color="info" > Click Here</p-button>


